<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>게시판</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" th:href="@{/css/postView.css}">
</head>
<body>
    <div th:each="board : ${boards}">
        <p th:text="${board.board.name}"></p>
        <div th:each="article : ${board.articles.articles}">
            <h1 th:text="${article.title}"></h1>
            <p th:text="${article.author} + ' | ' + ${article.date.substring(0, 10)}"></p>
            <p th:text="${article.content}"></p>
        </div>
    </div>
</body>
</html>